:root{
    --primary-color:#FF5E14;
    --primarytext-color:white;
    --fontfamily:"Nunito Sans", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:var(--fontfamily);
 
}
a{
    text-decoration: none;
}