:root{
    --primary-color:#0d00ff;
    --primarytext-color:white;
    --fontfamily:"Nunito Sans", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:var(--fontfamily);
  font-optical-sizing: auto;
}
a{
    text-decoration: none;
}